### Решение задач ДЗ


### 1.

1) Рассчитать "Активная сумма в нац. Валюте" и кол-во в разрезе "Подразделение"

2) Сделать градацию по суммам (до 10 000; 50 000; 200 000; 500 000; более 500 000) "Активная сумма в нац. Валюте"

3) Рассчитать "Активная сумма в нац. Валюте" в разрезе "Подсектор кредита", а также Рассчитать Портфель в риске (до 30 дней; 90 дней; 180 дней; более 180 дней) в разрезе "Подразделение"

In [2]:
# Import Modules
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option("display.max_columns", 150)
pd.set_option("display.max_rows", 100)

In [128]:
# Read Data
path_1 = r"C:\Users\User\Desktop\Excel\10Активные кредиты 31.10.20X6.xlsx"
path_2 = r"C:\Users\User\Desktop\Excel\12Активные кредиты 31.12.20X6.xlsx"

df = pd.read_excel(path_1, header=3)
# "C:\Users\EgamovA\Desktop\Courses\10Активные кредиты 31.10.20X6.xlsx"

In [6]:
df.columns

Index(['№', 'Филиал', 'Подразделение', 'Кредитный эксперт',
       'Наименования группа', '№ договора', 'Дата выдачи',
       'Дата окончание действия договора', 'Валюта', 'Выданная сумма',
       'Активная сумма', 'Активная сумма в нац. валюте',
       'Количество дней просрочки', 'Рег. номер клиента', 'Количество траншей',
       'Категория кредита', 'Ступень кредита', 'Пол',
       'Ежемесячный доход семьи', 'Ежемесячный расход семьи',
       'Дата рождения клиента', 'Сектор (Вид деятельности)',
       'Подсектор (Вид деятельности)', 'Объект кредитования', 'Проект'],
      dtype='object')

In [5]:
df.head()

,№,Филиал,Подразделение,Кредитный эксперт,Наименования группа,№ договора,Дата выдачи,Дата окончание действия договора,Валюта,Выданная сумма,Активная сумма,Активная сумма в нац. валюте,Количество дней просрочки,Рег. номер клиента,Количество траншей,Категория кредита,Ступень кредита,Пол,Ежемесячный доход семьи,Ежемесячный расход семьи,Дата рождения клиента,Сектор (Вид деятельности),Подсектор (Вид деятельности),Объект кредитования,Проект
0,1,Филиал в г. Душанбе,001-01,Кредитный эксперт 68,NaN,C/001-01/120409-004,2016-05-12,2017-05-12,TJS,"4,000,000.00","2,587,000.00","2,587,000.00",0,120409,12,Необеспеченный,4,Женский,"1,032.00",350.00,1965-04-15 00:00:00,Истеъмолот,Истеъмолот,Ба кормандони давлати(маош),NaN
1,2,Филиал в г. Душанбе,001-01,Кредитный эксперт 72,NaN,C/001-01/137537-002,2016-05-12,2017-11-13,TJS,"5,000,000.00","3,948,190.00","3,948,190.00",0,137537,18,Обеспеченный,2,Женский,"2,000.00",700.00,1966-09-03 00:00:00,Сохибкори,Хизматрасони,Хизматрасони дузандаги,NaN
2,3,Филиал в г. Душанбе,001-01,Кредитный эксперт 77,NaN,C/001-01/99047-003,2016-05-13,2017-05-15,TJS,"1,500,000.00","968,290.00","968,290.00",0,99047,12,Необеспеченный,3,Женский,"1,800.00",900.00,1978-01-10 00:00:00,Истеъмолот,Истеъмолот,Ба кормандони давлати(маош),NaN
3,4,Филиал в г. Душанбе,001-01,Кредитный эксперт 22,NaN,C/001-01/145826-001,2016-03-11,2017-03-13,USD,"1,800,000.00","822,390.00","6,476,570.00",0,145826,12,Обеспеченный,1,Мужской,"5,000.00","1,500.00",1966-04-15 00:00:00,Сохибкори,Хариду фуруш,Махсулоти либосвори,NaN
4,5,Филиал в г. Душанбе,001-01,Кредитный эксперт 57,NaN,C/001-01/989864-007,2016-04-29,2018-11-29,USD,"4,542,000.00","4,016,940.00","31,634,610.00",0,989864,31,Обеспеченный,5,Мужской,0.00,0.00,1981-03-03 00:00:00,Истеъмолот,Истеъмолот,Ба кормандони ташкилоти тичорати(маош),NaN

In [12]:
df.columns

Index(['№', 'Филиал', 'Подразделение', 'Кредитный эксперт',
       'Наименования группа', '№ договора', 'Дата выдачи',
       'Дата окончание действия договора', 'Валюта', 'Выданная сумма',
       'Активная сумма', 'Активная сумма в нац. валюте',
       'Количество дней просрочки', 'Рег. номер клиента', 'Количество траншей',
       'Категория кредита', 'Ступень кредита', 'Пол',
       'Ежемесячный доход семьи', 'Ежемесячный расход семьи',
       'Дата рождения клиента', 'Сектор (Вид деятельности)',
       'Подсектор (Вид деятельности)', 'Объект кредитования', 'Проект'],
      dtype='object')

In [21]:
display(df['Филиал'].unique())

print(df['Филиал'].unique().shape)

array(['Филиал в г. Душанбе', 'Филиал в г. Яван',
       'Филиал в г. Кургантюбе', 'Филиал в г. Кулоб',
       'Филиал в г. Турсунзода', 'Филиал в г. Вахдат',
       'Филиал в р. Шахритус', 'Филиал в р. Руми', 'Филиал в г. Хучанд',
       'Филиал в г. Дангара', 'Филиал в г. Истаравшан',
       'Филиал в г. Исфара', 'Филиал в р. Хамадони',
       'Филиал в г. Душанбе-2', 'Филиал в р. А. Чоми',
       'Филиал в р. Спитамен ', 'Филиал в г. Гиссар',
       'Филиал в р. Кумсангир', 'Филиал в р. Вахш',
       'Филиал в р. Шохмансур'], dtype=object)

(20,)

In [23]:
tdf1 = df[df['Филиал'].eq('Филиал в г. Душанбе')]
tdf2 = df[df['Филиал'].eq('Филиал в г. Яван')]
...
tdfn = df[df['Филиал'].eq('Филиал в р. Шохмансур')]

In [25]:
tdf1['Активная сумма в нац. валюте'].sum()

14788172790.0

In [51]:
portfolio_branch_sum = df.groupby('Филиал')['Активная сумма в нац. валюте'].sum()
portfolio_branch_sum

Филиал
Филиал в г. Вахдат        9,202,014,350.00
Филиал в г. Гиссар        5,036,848,670.00
Филиал в г. Дангара       4,375,478,710.00
Филиал в г. Душанбе      14,788,172,790.00
Филиал в г. Душанбе-2    16,347,061,240.00
Филиал в г. Истаравшан    9,309,446,850.00
Филиал в г. Исфара        6,368,722,060.00
Филиал в г. Кулоб        10,041,048,640.00
Филиал в г. Кургантюбе   15,560,347,250.00
Филиал в г. Турсунзода    9,260,155,620.00
Филиал в г. Хучанд        9,613,387,550.00
Филиал в г. Яван          5,081,625,980.00
Филиал в р. А. Чоми      10,189,860,020.00
Филиал в р. Вахш          7,836,210,630.00
Филиал в р. Кумсангир     4,057,850,400.00
Филиал в р. Руми          5,416,682,730.00
Филиал в р. Спитамен      3,042,974,900.00
Филиал в р. Хамадони      6,312,764,280.00
Филиал в р. Шахритус     11,075,286,130.00
Филиал в р. Шохмансур     5,098,271,630.00
Name: Активная сумма в нац. валюте, dtype: float64

In [52]:
portfolio_branch_cnt = df.groupby('Филиал')['Активная сумма в нац. валюте'].count()
portfolio_branch_cnt

Филиал
Филиал в г. Вахдат        1688
Филиал в г. Гиссар         904
Филиал в г. Дангара       1095
Филиал в г. Душанбе       2788
Филиал в г. Душанбе-2     2333
Филиал в г. Истаравшан    1498
Филиал в г. Исфара        1151
Филиал в г. Кулоб         3057
Филиал в г. Кургантюбе    3121
Филиал в г. Турсунзода    2281
Филиал в г. Хучанд        1534
Филиал в г. Яван          1084
Филиал в р. А. Чоми       2497
Филиал в р. Вахш          1210
Филиал в р. Кумсангир      577
Филиал в р. Руми           925
Филиал в р. Спитамен       506
Филиал в р. Хамадони      1492
Филиал в р. Шахритус      1576
Филиал в р. Шохмансур      767
Name: Активная сумма в нац. валюте, dtype: int64

In [57]:
df.groupby('Филиал').agg({'Активная сумма в нац. валюте': ['sum', 'count','mean','max', 'min']})

                       Активная сумма в нац. валюте                     \
                                                sum count         mean
Филиал
Филиал в г. Вахдат                 9,202,014,350.00  1688 5,451,430.30
Филиал в г. Гиссар                 5,036,848,670.00   904 5,571,735.25
Филиал в г. Дангара                4,375,478,710.00  1095 3,995,870.97
Филиал в г. Душанбе               14,788,172,790.00  2788 5,304,222.66
Филиал в г. Душанбе-2             16,347,061,240.00  2333 7,006,884.37
Филиал в г. Истаравшан             9,309,446,850.00  1498 6,214,584.01
Филиал в г. Исфара                 6,368,722,060.00  1151 5,533,207.70
Филиал в г. Кулоб                 10,041,048,640.00  3057 3,284,608.65
Филиал в г. Кургантюбе            15,560,347,250.00  3121 4,985,692.81
Филиал в г. Турсунзода             9,260,155,620.00  2281 4,059,691.20
Филиал в г. Хучанд                 9,613,387,550.00  1534 6,266,875.85
Филиал в г. Яван                   5,081,625,980.00  1084 4,687,846.85
Филиал в р. А. Чоми               10,189,860,020.00  2497 4,080,841.02
Филиал в р. Вахш                   7,836,210,630.00  1210 6,476,207.13
Филиал в р. Кумсангир              4,057,850,400.00   577 7,032,669.67
Филиал в р. Руми                   5,416,682,730.00   925 5,855,873.22
Филиал в р. Спитамен               3,042,974,900.00   506 6,013,784.39
Филиал в р. Хамадони               6,312,764,280.00  1492 4,231,075.25
Филиал в р. Шахритус              11,075,286,130.00  1576 7,027,465.82
Филиал в р. Шохмансур              5,098,271,630.00   767 6,647,029.50


                                  max        min
Филиал
Филиал в г. Вахдат     287,154,700.00  66,600.00
Филиал в г. Гиссар     250,000,000.00  16,730.00
Филиал в г. Дангара    213,332,740.00   4,510.00
Филиал в г. Душанбе    202,320,160.00  99,760.00
Филиал в г. Душанбе-2  285,228,640.00  13,830.00
Филиал в г. Истаравшан 307,406,510.00   7,530.00
Филиал в г. Исфара     122,261,230.00  97,220.00
Филиал в г. Кулоб      122,836,020.00  18,210.00
Филиал в г. Кургантюбе 111,983,220.00 105,940.00
Филиал в г. Турсунзода 200,427,940.00  72,210.00
Филиал в г. Хучанд      98,682,160.00  40,840.00
Филиал в г. Яван        96,891,680.00   2,700.00
Филиал в р. А. Чоми    213,582,780.00     710.00
Филиал в р. Вахш       184,951,420.00  43,940.00
Филиал в р. Кумсангир  192,954,460.00  48,670.00
Филиал в р. Руми       116,386,250.00 110,860.00
Филиал в р. Спитамен   121,124,710.00  10,040.00
Филиал в р. Хамадони   240,000,000.00   8,160.00
Филиал в р. Шахритус   237,562,540.00     550.00
Филиал в р. Шохмансур  211,302,170.00  92,110.00

In [ ]:
[10, 20, 50 ]

{
    "bank": 10,
    'cash': 20,
    'wife': 30
}

In [41]:
branch_name = portfolio_branch.index
branch_value = portfolio_branch.values

In [48]:
portfolio_branch.name

'Активная сумма в нац. валюте'

In [46]:
portfolio_branch.index.name

'Филиал'

In [ ]:
((a + 1) + 3 ) *5

In [49]:
portfolio_branch.reset_index().rename(columns={'Филиал':'branch'})

                    branch  Активная сумма в нац. валюте
0       Филиал в г. Вахдат              9,202,014,350.00
1       Филиал в г. Гиссар              5,036,848,670.00
2      Филиал в г. Дангара              4,375,478,710.00
3      Филиал в г. Душанбе             14,788,172,790.00
4    Филиал в г. Душанбе-2             16,347,061,240.00
5   Филиал в г. Истаравшан              9,309,446,850.00
6       Филиал в г. Исфара              6,368,722,060.00
7        Филиал в г. Кулоб             10,041,048,640.00
8   Филиал в г. Кургантюбе             15,560,347,250.00
9   Филиал в г. Турсунзода              9,260,155,620.00
10      Филиал в г. Хучанд              9,613,387,550.00
11        Филиал в г. Яван              5,081,625,980.00
12     Филиал в р. А. Чоми             10,189,860,020.00
13        Филиал в р. Вахш              7,836,210,630.00
14   Филиал в р. Кумсангир              4,057,850,400.00
15        Филиал в р. Руми              5,416,682,730.00
16   Филиал в р. Спитамен               3,042,974,900.00
17    Филиал в р. Хамадони              6,312,764,280.00
18    Филиал в р. Шахритус             11,075,286,130.00
19   Филиал в р. Шохмансур              5,098,271,630.00

In [44]:
pd.DataFrame(
    {
        "Col1": list(branch_name),
        "Col2": list(branch_value)
    }
)

                      Col1              Col2
0       Филиал в г. Вахдат  9,202,014,350.00
1       Филиал в г. Гиссар  5,036,848,670.00
2      Филиал в г. Дангара  4,375,478,710.00
3      Филиал в г. Душанбе 14,788,172,790.00
4    Филиал в г. Душанбе-2 16,347,061,240.00
5   Филиал в г. Истаравшан  9,309,446,850.00
6       Филиал в г. Исфара  6,368,722,060.00
7        Филиал в г. Кулоб 10,041,048,640.00
8   Филиал в г. Кургантюбе 15,560,347,250.00
9   Филиал в г. Турсунзода  9,260,155,620.00
10      Филиал в г. Хучанд  9,613,387,550.00
11        Филиал в г. Яван  5,081,625,980.00
12     Филиал в р. А. Чоми 10,189,860,020.00
13        Филиал в р. Вахш  7,836,210,630.00
14   Филиал в р. Кумсангир  4,057,850,400.00
15        Филиал в р. Руми  5,416,682,730.00
16   Филиал в р. Спитамен   3,042,974,900.00
17    Филиал в р. Хамадони  6,312,764,280.00
18    Филиал в р. Шахритус 11,075,286,130.00
19   Филиал в р. Шохмансур  5,098,271,630.00

In [43]:
branch_value

array([9.20201435e+09, 5.03684867e+09, 4.37547871e+09, 1.47881728e+10,
       1.63470612e+10, 9.30944685e+09, 6.36872206e+09, 1.00410486e+10,
       1.55603472e+10, 9.26015562e+09, 9.61338755e+09, 5.08162598e+09,
       1.01898600e+10, 7.83621063e+09, 4.05785040e+09, 5.41668273e+09,
       3.04297490e+09, 6.31276428e+09, 1.10752861e+10, 5.09827163e+09])

In [60]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [69]:
d_min = df['Выданная сумма'].min()

In [68]:
d_max = df['Выданная сумма'].max()

In [ ]:
# шаг = 150_000_000
# 0 - 150_000_000
# 150_000_000 + 1 - (150_000_000 + 1)+150_000_000

In [83]:
step = 150_000_000
for i in range(5):
    print(f'{i*step+1} - {(i+1)*step}')

1 - 150000000
150000001 - 300000000
300000001 - 450000000
450000001 - 600000000
600000001 - 750000000

In [94]:
def amount_groups(loan_amount):
    if loan_amount <= 15000000:
        return "up to 15 mln"
    elif loan_amount <= 30000000:
        return "15 - 30 mln"
    elif loan_amount <= 45000000:
        return "30 - 45 mln"
    elif loan_amount <= 60000000:
        return "45 - 60 mln"
    elif loan_amount <= 75000000:
        return "60 - 75 mln"
    else:
        return "75 + mln"
    

{true_stm} if {cond} else {false_stm}

In [ ]:
df['amount_groups'] = df['Активная сумма в нац. валюте'].map(lambda loan_amount: 
                                                             "up to 15 mln" if loan_amount <= 15000000 else
                                                              "15 - 30 mln" if loan_amount <= 30000000 else "w"
                                                               )

In [72]:
abs(d_min - d_max)/ 5

149970000.0

In [92]:
amount_groups(31634610)

'30 - 45 mln'

In [99]:
df['amount_groups'] = df['Активная сумма в нац. валюте'].map(amount_groups)

In [101]:
df.groupby('amount_groups').agg({'Активная сумма в нац. валюте': ["sum", 'count']})

              Активная сумма в нац. валюте
                                       sum  count
amount_groups
15 - 30 mln              27,113,589,380.00   1309
30 - 45 mln               8,585,042,330.00    240
45 - 60 mln               3,399,178,080.00     66
60 - 75 mln               3,068,768,480.00     45
75 + mln                 14,502,809,130.00    111
up to 15 mln            111,344,823,030.00  30313

In [48]:
# Manual actions
result = df.groupby('Подразделение').agg(active_sum_lcy=("Активная сумма в нац. валюте", "sum"),
                                        active_count_lcy=("Активная сумма в нац. валюте", "count")
                                        ).reset_index()

# Cross-check
if result['active_sum_lcy'].isna().any():
    raise Warning(f"Please check your calculations by department {result.loc[result['active_sum_lcy'].isna(), 'Подразделение'].unique().tolist()}")

In [46]:
result.loc[result.active_sum_lcy.eq(6454026070), 'active_sum_lcy'] = None

In [49]:
result

# Cross-check
if result['active_sum_lcy'].isna().any():
    raise Warning(f"Please check your calculations by department {result.loc[result['active_sum_lcy'].isna(), 'Подразделение'].unique().tolist()}")

#### 2.

In [59]:
def categorize_amount(amount):
    if amount <= 10000:
        return 'до 10 000'
    elif amount <= 50000:
        return '10 000 - 50 000'
    elif amount <= 200000:
        return '50 000 - 200 000'
    elif amount <= 500000:
        return '200 000 - 500 000'
    else:
        return 'более 500 000'

# Создание нового столбца с категориями
df['category'] = df['Активная сумма в нац. валюте'].apply(categorize_amount)

if not df.loc[df['category'].isna()].empty:
    raise Warning(f"Some data isn't categorized. \n Please check this clients {df.loc[df['category'].isna(), 'Рег. номер клиента'].unique().tolist()}")

#### 3

In [106]:
df.groupby([ 'Филиал', 'Подсектор (Вид деятельности)']) \
            ['Активная сумма в нац. валюте'].sum().head(50) \
            # .reset_index()

Филиал                  Подсектор (Вид деятельности)
Филиал в г. Вахдат      Богпарвари                        22,591,790.00
                        Истехсолот                       429,723,020.00
                        Истеъмолот                     2,336,338,600.00
                        Мохипарвари                        2,303,290.00
                        Паррандапарвари                   70,420,390.00
                        Растанипарвари                   103,586,970.00
                        Хариду фуруш                   1,539,656,400.00
                        Хизматрасони                   2,543,890,940.00
                        Хочагии кишлок                    43,164,140.00
                        Чорвопарвари                   1,875,571,220.00
Филиал в г. Гиссар      Богпарвари                        35,844,110.00
                        Истехсолот                       215,638,740.00
                        Истеъмолот                     1,205,926,280.00
                        Растанипарвари                    78,436,420.00
                        Хариду фуруш                   2,006,818,600.00
                        Хизматрасони                     997,315,490.00
                        Хочагии кишлок                    24,000,000.00
                        Чорвопарвари                     336,410,270.00
Филиал в г. Дангара     Истехсолот                        84,145,890.00
                        Истеъмолот                     1,083,952,230.00
                        Растанипарвари                    90,368,320.00
                        Хариду фуруш                   1,333,552,400.00
                        Хизматрасони                     411,685,470.00
                        Чорвопарвари                   1,341,780,400.00
Филиал в г. Душанбе     Богпарвари                         8,903,350.00
                        Занбурпарвари                      1,434,740.00
                        Истехсолот                     1,077,400,270.00
                        Истеъмолот                     6,779,715,860.00
                        Растанипарвари                    79,289,330.00
                        Хариду фуруш                   2,158,511,940.00
                        Хизматрасони                   4,055,849,710.00
                        Хочагии кишлок                    11,771,280.00
                        Чорвопарвари                     478,453,110.00
Филиал в г. Душанбе-2   Богпарвари                         4,016,510.00
                        Истехсолот                     1,745,357,800.00
                        Истеъмолот                     4,891,193,040.00
                        Растанипарвари                    39,075,140.00
                        Хариду фуруш                   4,293,417,320.00
                        Хизматрасони                   4,730,250,880.00
                        Чорвопарвари                     421,375,470.00
Филиал в г. Истаравшан  Богпарвари                        11,806,580.00
                        Истехсолот                       750,327,050.00
                        Истеъмолот                     1,538,401,610.00
                        Растанипарвари                   490,281,360.00
                        Хариду фуруш                   1,427,314,920.00
                        Хизматрасони                   1,815,805,650.00
                        Хочагии кишлок                   154,533,900.00
                        Чорвопарвари                   2,907,909,100.00
Филиал в г. Исфара      Богпарвари                        94,399,840.00
                        Занбурпарвари                     17,049,630.00
Name: Активная сумма в нац. валюте, dtype: float64

In [110]:
sector = df.groupby(['Подсектор (Вид деятельности)', 'Филиал']) \
            ['Активная сумма в нац. валюте'].sum() \
            .reset_index()

def calculate_portfolio_risk(days):
    if days <= 30:
        return 'до 30 дней'
    elif days <= 90:
        return 'до 90 дней'
    elif days <= 180:
        return 'до 180 дней'
    else:
        return 'более 180 дней'

df['Портфель в риске'] = df['Количество дней просрочки'].map(calculate_portfolio_risk)

risk_portfolio = df.groupby(['Подразделение', 'Портфель в риске']) \
                        ['Активная сумма в нац. валюте'].sum().reset_index()

In [113]:
df.pivot_table(columns='Подразделение', 
               index='Портфель в риске', 
               values='Активная сумма в нац. валюте',
               aggfunc='sum').T

Портфель в риске,более 180 дней,до 180 дней,до 30 дней,до 90 дней
Подразделение,,,,
001-01,"213,729,990.00","40,063,990.00","5,989,198,290.00","211,033,800.00"
001-01-03,"315,418,210.00","89,873,980.00","2,581,071,120.00","216,792,400.00"
001-01-07,"75,595,390.00","975,360.00","216,087,380.00",NaN
001-01-11,"177,671,140.00","145,046,550.00","4,447,245,650.00","68,369,540.00"
001-02,"232,965,150.00","31,560,570.00","2,520,476,150.00","19,503,930.00"
001-02-01,"102,794,280.00","4,652,050.00","1,457,523,080.00","1,303,440.00"
001-02-02,"39,749,400.00","9,783,180.00","654,721,860.00","6,592,890.00"
001-03,"326,513,780.00","52,738,700.00","7,818,528,250.00","116,780,380.00"
001-03-03,"17,653,530.00","19,745,110.00","2,101,725,130.00","23,224,890.00"
001-03-05,"20,875,530.00","9,123,030.00","2,497,521,530.00","15,992,860.00"
001-03-07,"96,704,200.00","11,009,500.00","2,409,651,320.00","22,559,510.00"
001-04,"592,825,870.00","120,212,400.00","6,313,424,040.00","81,258,760.00"
001-04-01,"163,590,570.00","57,071,530.00","1,305,020,180.00","7,068,360.00"
001-04-02,"38,028,890.00","12,767,550.00","811,005,070.00","8,066,420.00"
001-04-05,"6,625,670.00",NaN,"524,083,330.00",NaN
001-05,"182,810,280.00","73,024,180.00","5,272,762,160.00","17,277,270.00"
001-05-01,"60,987,300.00","13,390,690.00","35,158,700.00",NaN
001-05-03,"22,479,130.00",NaN,"1,612,464,270.00","405,290.00"
001-05-04,"57,440,560.00",NaN,"1,869,227,880.00","42,727,910.00"
001-06,"130,018,610.00","97,518,380.00","2,979,107,200.00","36,051,240.00"
001-06-01,"28,163,200.00","34,054,240.00","689,243,740.00","15,369,760.00"
001-06-02,"24,589,000.00","8,088,930.00","1,028,131,970.00",NaN
001-06-03,"53,501,640.00","9,190,260.00","2,243,717,160.00","10,130,940.00"
001-06-04,"12,881,830.00","10,442,490.00","1,787,190,140.00","4,623,620.00"
001-07,"243,812,340.00","43,571,870.00","2,299,405,360.00","24,842,690.00"
001-07-01,"166,067,000.00",NaN,"1,687,115,190.00","10,276,690.00"
001-07-02,"45,138,150.00",NaN,"1,059,215,120.00",NaN
001-07-02-01,"219,148,110.00",NaN,"1,136,080,840.00","12,910,390.00"
001-07-02-02,"24,587,660.00","22,860,740.00","466,273,230.00","4,710,140.00"
001-07-03,"290,519,990.00","167,313,240.00","2,274,102,140.00","9,037,440.00"
001-07-04,"53,382,870.00",NaN,"814,914,930.00",NaN
001-08,"50,180,750.00","30,285,150.00","3,175,937,870.00","2,847,600.00"
001-08-03,"226,923,490.00","15,874,890.00","1,903,672,920.00","10,960,060.00"
001-09,"350,502,310.00","154,951,320.00","4,043,265,290.00","94,934,000.00"
001-09-01,"219,558,770.00","40,092,220.00","1,437,036,240.00","30,340,770.00"
001-09-01-01,"55,845,320.00","1,280,760.00","603,480,490.00",NaN
001-09-01-02,"2,308,090.00",NaN,"33,381,900.00",NaN
001-09-01-03,"20,697,870.00",NaN,"82,006,770.00",NaN
001-09-04,"301,985,590.00","184,081,150.00","1,012,464,390.00","45,697,690.00"
001-09-10,"136,437,560.00","35,815,240.00","581,021,280.00","16,956,390.00"
001-09-11,"86,322,620.00","13,887,460.00","22,575,480.00","6,460,580.00"
001-10,"120,984,410.00","12,277,670.00","3,193,391,240.00","15,264,740.00"
001-10-02,NaN,NaN,"5,344,520.00",NaN
001-10-04,"78,161,280.00","11,035,270.00","930,050,320.00","8,969,260.00"
001-11,"238,792,250.00","67,060,330.00","1,919,200,920.00","25,152,430.00"
001-11-01,"269,630,300.00","69,759,190.00","1,350,111,250.00","41,140,970.00"
001-11-02,"296,008,620.00","165,087,240.00","2,436,204,050.00","70,349,220.00"
001-11-03,"124,539,640.00","58,574,480.00","918,549,450.00","22,766,730.00"
001-11-05,"167,909,410.00","18,603,790.00","1,003,026,480.00","46,980,100.00"
001-12,"88,881,640.00","10,225,540.00","3,339,960,890.00","49,082,740.00"
001-12-02,"54,977,300.00","35,764,450.00","2,485,023,330.00",NaN
001-12-03,NaN,NaN,"304,806,170.00",NaN
001-13,"680,409,380.00","50,300,380.00","3,815,019,050.00","129,205,750.00"
001-13-01,"75,660,240.00","5,462,630.00","1,549,144,420.00","7,562,430.00"
001-14,"164,717,660.00","23,723,530.00","4,531,392,610.00","33,895,510.00"
001-14-01,"201,656,410.00","44,234,080.00","2,957,092,070.00","3,138,130.00"
001-14-02,"126,065,750.00","99,452,670.00","1,802,705,500.00","4,966,150.00"
001-14-03,"254,181,060.00","76,656,980.00","3,007,236,210.00","29,453,300.00"
001-14-06,"132,321,360.00","5,515,860.00","2,831,954,940.00","16,701,460.00"
001-15,"38,663,050.00","8,375,730.00","3,640,446,980.00","13,419,390.00"
001-15-01,"39,938,640.00","19,364,840.00","4,750,888,440.00","3,099,150.00"
001-15-01-01,"17,005,530.00","2,315,760.00","221,672,270.00","2,041,610.00"
001-15-01-02,NaN,NaN,"655,902,580.00",NaN
001-15-03,NaN,"27,000,000.00","749,726,050.00",NaN
001-16,"180,252,740.00","31,784,670.00","1,117,364,690.00",NaN
001-16-01,"3,753,800.00",NaN,"1,309,412,590.00",NaN
001-16-01-01,NaN,"14,167,720.00","230,282,680.00","121,124,710.00"
001-16-02,"10,040.00",NaN,"34,821,260.00",NaN
001-17,"389,734,970.00","140,820,810.00","4,470,715,640.00","35,577,250.00"
001-18,"104,461,040.00","21,346,470.00","2,404,527,910.00","13,995,430.00"
001-18-01,"57,515,890.00","13,914,080.00","1,442,089,580.00",NaN
001-19,"217,066,540.00","82,094,810.00","7,485,050,010.00","51,999,270.00"
001-20,"511,203,300.00","21,250,790.00","4,547,326,170.00","18,491,370.00"

In [74]:
df['Дата выдачи'] = pd.to_datetime(df['Дата выдачи'], format='%d.%m.%Y')
df['Дата окончание действия договора'] = pd.to_datetime(df['Дата окончание действия договора'], format='%d.%m.%Y')

df['Количество дней для оплаты'] = (df['Дата окончание действия договора'] - df['Дата выдачи']).dt.days

###

### Day 7. Reporting

Сценарие: В прошлом месяце был объявлен конкурс лучший КЭ со следующими критериями:
1. Прирост кредитного портфеля на 20%
2. Доля клиентов женского пола в портфеле не менее 20%
3. Доля просрочек 10 дней и более (PAR 10+)  меньше 1%
4. Наличие не менее 10 лояльных клиентов (ступень кредита >3)
5. Наличие проектных кредитов
   
Первое место с максимальными показателями получить 5000 сомони , 2-е место - 3000 и 3-е 1000 сом.

Определите 3 победилей конкурса, анализируя данные текущего месяца и прошлого.

In [129]:
prev_df = pd.read_excel(path_1, header=3)
curr_df = pd.read_excel(path_2, header=3)

In [130]:
print("Previous month")
prev_df.head()

Previous month

,№,Филиал,Подразделение,Кредитный эксперт,Наименования группа,№ договора,Дата выдачи,Дата окончание действия договора,Валюта,Выданная сумма,Активная сумма,Активная сумма в нац. валюте,Количество дней просрочки,Рег. номер клиента,Количество траншей,Категория кредита,Ступень кредита,Пол,Ежемесячный доход семьи,Ежемесячный расход семьи,Дата рождения клиента,Сектор (Вид деятельности),Подсектор (Вид деятельности),Объект кредитования,Проект
0,1,Филиал в г. Душанбе,001-01,Кредитный эксперт 68,NaN,C/001-01/120409-004,2016-05-12,2017-05-12,TJS,"4,000,000.00","2,587,000.00","2,587,000.00",0,120409,12,Необеспеченный,4,Женский,"1,032.00",350.00,1965-04-15 00:00:00,Истеъмолот,Истеъмолот,Ба кормандони давлати(маош),NaN
1,2,Филиал в г. Душанбе,001-01,Кредитный эксперт 72,NaN,C/001-01/137537-002,2016-05-12,2017-11-13,TJS,"5,000,000.00","3,948,190.00","3,948,190.00",0,137537,18,Обеспеченный,2,Женский,"2,000.00",700.00,1966-09-03 00:00:00,Сохибкори,Хизматрасони,Хизматрасони дузандаги,NaN
2,3,Филиал в г. Душанбе,001-01,Кредитный эксперт 77,NaN,C/001-01/99047-003,2016-05-13,2017-05-15,TJS,"1,500,000.00","968,290.00","968,290.00",0,99047,12,Необеспеченный,3,Женский,"1,800.00",900.00,1978-01-10 00:00:00,Истеъмолот,Истеъмолот,Ба кормандони давлати(маош),NaN
3,4,Филиал в г. Душанбе,001-01,Кредитный эксперт 22,NaN,C/001-01/145826-001,2016-03-11,2017-03-13,USD,"1,800,000.00","822,390.00","6,476,570.00",0,145826,12,Обеспеченный,1,Мужской,"5,000.00","1,500.00",1966-04-15 00:00:00,Сохибкори,Хариду фуруш,Махсулоти либосвори,NaN
4,5,Филиал в г. Душанбе,001-01,Кредитный эксперт 57,NaN,C/001-01/989864-007,2016-04-29,2018-11-29,USD,"4,542,000.00","4,016,940.00","31,634,610.00",0,989864,31,Обеспеченный,5,Мужской,0.00,0.00,1981-03-03 00:00:00,Истеъмолот,Истеъмолот,Ба кормандони ташкилоти тичорати(маош),NaN

In [131]:
print("Current month")
curr_df.head()

Current month

,№,Филиал,Подразделение,Кредитный эксперт,Наименования группа,№ договора,Дата выдачи,Дата окончание действия договора,Валюта,Выданная сумма,Активная сумма,Активная сумма в нац. валюте,Количество дней просрочки,Рег. номер клиента,Количество траншей,Категория кредита,Ступень кредита,Пол,Ежемесячный доход семьи,Ежемесячный расход семьи,Дата рождения клиента,Сектор (Вид деятельности),Подсектор (Вид деятельности),Объект кредитования,Проект
0,1,Филиал в г. Душанбе,001-01,Кредитный эксперт 69,NaN,C/001-01/117493-004,2016-12-14,2017-12-14,TJS,"5,000,000.00","5,000,000.00","5,000,000.00",0,117493,12,Необеспеченный,4,Мужской,"1,500.00",600.00,1991-08-29 00:00:00,Истеъмолот,Истеъмолот,Ба сохибкорони сохаи хизматрасони,NaN
1,2,Филиал в г. Душанбе,001-01,Кредитный эксперт 50,Абуали-Варзоб,C/001-01/162315-001,2016-12-15,2017-12-15,TJS,"3,000,000.00","3,000,000.00","3,000,000.00",0,162315,12,Необеспеченный,1,Женский,"2,400.00",900.00,1982-06-05 00:00:00,Хочагии кишлок,Чорвопарвари,Зиёд кардани саршумор,NaN
2,3,Филиал в г. Душанбе,001-01,Кредитный эксперт 93,Хандон-Варзоб,C/001-01/162316-001,2016-12-15,2017-12-15,TJS,"3,000,000.00","3,000,000.00","3,000,000.00",0,162316,12,Необеспеченный,1,Женский,"2,000.00",800.00,1977-04-10 00:00:00,Сохибкори,Хизматрасони,Хизматрасони дузандаги,NaN
3,4,Филиал в г. Душанбе,001-01,Кредитный эксперт 70,NaN,C/001-01/98946-004,2016-12-16,2018-12-17,TJS,"78,000,000.00","78,000,000.00","78,000,000.00",0,98946,24,Обеспеченный,4,Женский,"8,500.00","2,000.00",1979-01-02 00:00:00,Хочагии кишлок,Чорвопарвари,Нигохубин ва парвариш,NaN
4,5,Филиал в г. Душанбе,001-01,Кредитный эксперт 16,NaN,C/001-01/162533-001,2016-12-16,2018-12-17,TJS,"25,000,000.00","25,000,000.00","25,000,000.00",0,162533,24,Обеспеченный,1,Женский,"3,500.00","1,000.00",1992-02-21 00:00:00,Сохибкори,Хариду фуруш,Махсулоти хуроквори,NaN

In [166]:
lo_prv_portfolio = prev_df.groupby('Кредитный эксперт') \
                         .agg({'Активная сумма в нац. валюте':'sum'}) \
                         .rename(columns={'Активная сумма в нац. валюте': 'prev_port'})
# lo_prv_portfolio.head()

lo_cur_portfolio = curr_df.groupby('Кредитный эксперт') \
                         .agg({'Активная сумма в нац. валюте':'sum'}) \
                         .rename(columns={'Активная сумма в нац. валюте': 'cur_port'})
# lo_cur_portfolio.head()

port_trend =  lo_prv_portfolio.merge(lo_cur_portfolio, how='inner', on='Кредитный эксперт')
port_trend['change'] = port_trend['prev_port'] / port_trend['cur_port']
port_trend['pass'] = port_trend['change'] >= 1.30
port_trend.head()
port_trend[port_trend['pass']]

                             prev_port         cur_port  change   pass
Кредитный эксперт
Кредитный эксперт 1   1,861,968,960.00 1,833,350,600.00    1.02  False
Кредитный эксперт 10  1,668,698,020.00 2,167,611,830.00    0.77  False
Кредитный эксперт 100 1,820,009,630.00 1,653,596,710.00    1.10  False
Кредитный эксперт 11  1,601,118,180.00 1,777,028,420.00    0.90  False
Кредитный эксперт 12  1,692,490,430.00 1,723,493,890.00    0.98  False

                            prev_port         cur_port  change  pass
Кредитный эксперт
Кредитный эксперт 16 1,905,172,680.00 1,449,974,730.00    1.31  True
Кредитный эксперт 4  2,011,752,660.00 1,297,385,960.00    1.55  True
Кредитный эксперт 52 1,868,831,130.00 1,429,970,570.00    1.31  True

In [138]:
a.head()

       Кредитный эксперт        prev_port
0    Кредитный эксперт 1 1,861,968,960.00
1   Кредитный эксперт 10 1,668,698,020.00
2  Кредитный эксперт 100 1,820,009,630.00
3   Кредитный эксперт 11 1,601,118,180.00
4   Кредитный эксперт 12 1,692,490,430.00

                             prev_port         cur_port
Кредитный эксперт
Кредитный эксперт 1   1,861,968,960.00 1,833,350,600.00
Кредитный эксперт 10  1,668,698,020.00 2,167,611,830.00
Кредитный эксперт 100 1,820,009,630.00 1,653,596,710.00
Кредитный эксперт 11  1,601,118,180.00 1,777,028,420.00
Кредитный эксперт 12  1,692,490,430.00 1,723,493,890.00

In [147]:
a = lo_prv_portfolio.reset_index()
b = lo_cur_portfolio.reset_index()

In [145]:
a.columns

Index(['LO', 'prev_port'], dtype='object')

In [150]:

pd.merge(a, b, how='inner', on='Кредитный эксперт'  )

        Кредитный эксперт        prev_port         cur_port
0     Кредитный эксперт 1 1,861,968,960.00 1,833,350,600.00
1    Кредитный эксперт 10 1,668,698,020.00 2,167,611,830.00
2   Кредитный эксперт 100 1,820,009,630.00 1,653,596,710.00
3    Кредитный эксперт 11 1,601,118,180.00 1,777,028,420.00
4    Кредитный эксперт 12 1,692,490,430.00 1,723,493,890.00
5    Кредитный эксперт 13 1,589,958,880.00 1,843,066,720.00
6    Кредитный эксперт 14 1,721,022,050.00 1,971,973,890.00
7    Кредитный эксперт 15 2,084,980,200.00 1,621,086,520.00
8    Кредитный эксперт 16 1,905,172,680.00 1,449,974,730.00
9    Кредитный эксперт 17 1,609,051,650.00 1,672,582,750.00
10   Кредитный эксперт 18 1,440,424,610.00 1,680,435,230.00
11   Кредитный эксперт 19 1,539,163,980.00 2,159,204,540.00
12    Кредитный эксперт 2 1,885,845,300.00 1,588,518,460.00
13   Кредитный эксперт 20 1,844,538,250.00 1,637,369,570.00
14   Кредитный эксперт 21 1,538,432,630.00 1,772,769,050.00
15   Кредитный эксперт 22 1,751,703,610.00 1,830,640,540.00
16   Кредитный эксперт 23 1,533,795,770.00 1,938,483,310.00
17   Кредитный эксперт 24 1,874,008,920.00 1,883,437,630.00
18   Кредитный эксперт 25 1,603,384,440.00 1,680,268,860.00
19   Кредитный эксперт 26 1,467,917,950.00 1,642,747,400.00
20   Кредитный эксперт 27 1,545,468,730.00 1,916,406,220.00
21   Кредитный эксперт 28 1,467,532,730.00 1,645,459,660.00
22   Кредитный эксперт 29 1,944,293,250.00 1,640,336,240.00
23    Кредитный эксперт 3 1,523,840,970.00 1,254,443,770.00
24   Кредитный эксперт 30 1,638,330,730.00 1,920,092,950.00
25   Кредитный эксперт 31 1,431,834,790.00 1,610,775,300.00
26   Кредитный эксперт 32 1,597,875,870.00 1,879,993,860.00
27   Кредитный эксперт 33 1,339,090,120.00 1,417,030,430.00
28   Кредитный эксперт 34 1,460,809,170.00 1,920,727,870.00
29   Кредитный эксперт 35 1,449,614,320.00 2,375,693,380.00
30   Кредитный эксперт 36 1,888,054,090.00 1,834,237,550.00
31   Кредитный эксперт 37 1,797,532,580.00 1,759,219,920.00
32   Кредитный эксперт 38 1,321,783,760.00 1,385,724,810.00
33   Кредитный эксперт 39 1,663,475,620.00 1,715,009,860.00
34    Кредитный эксперт 4 2,011,752,660.00 1,297,385,960.00
35   Кредитный эксперт 40 1,699,060,120.00 1,505,189,050.00
36   Кредитный эксперт 41 1,754,128,130.00 1,590,551,970.00
37   Кредитный эксперт 42 1,556,170,630.00 1,640,451,380.00
38   Кредитный эксперт 43 1,620,039,110.00 1,805,090,680.00
39   Кредитный эксперт 44 1,260,820,640.00 2,040,260,070.00
40   Кредитный эксперт 45 1,557,451,360.00 1,658,579,170.00
41   Кредитный эксперт 46 1,795,337,380.00 1,788,069,730.00
42   Кредитный эксперт 47 1,666,749,930.00 1,935,495,470.00
43   Кредитный эксперт 48 1,564,294,910.00 1,620,037,020.00
44   Кредитный эксперт 49 1,490,574,240.00 1,639,637,250.00
45    Кредитный эксперт 5 1,583,412,020.00 1,683,528,220.00
46   Кредитный эксперт 50 1,463,582,860.00 1,934,310,170.00
47   Кредитный эксперт 51 1,589,101,750.00 1,893,170,790.00
48   Кредитный эксперт 52 1,868,831,130.00 1,429,970,570.00
49   Кредитный эксперт 53 1,395,104,700.00 1,654,420,620.00
50   Кредитный эксперт 54 1,544,024,110.00 1,580,441,720.00
51   Кредитный эксперт 55 1,582,590,880.00 1,639,369,030.00
52   Кредитный эксперт 56 1,643,799,180.00 1,536,732,030.00
53   Кредитный эксперт 57 1,648,188,390.00 1,738,340,740.00
54   Кредитный эксперт 58 1,636,284,940.00 1,786,756,280.00
55   Кредитный эксперт 59 1,518,087,790.00 1,887,460,190.00
56    Кредитный эксперт 6 1,604,317,230.00 1,678,692,490.00
57   Кредитный эксперт 60 1,786,414,330.00 1,515,947,970.00
58   Кредитный эксперт 61 2,106,611,620.00 1,689,700,560.00
59   Кредитный эксперт 62 1,689,856,860.00 1,675,611,580.00
60   Кредитный эксперт 63 1,766,139,670.00 1,922,972,300.00
61   Кредитный эксперт 64 1,821,794,380.00 1,620,095,960.00
62   Кредитный эксперт 65 1,629,281,650.00 1,757,857,400.00
63   Кредитный эксперт 66 1,488,548,810.00 1,816,799,540.00
64   Кредитный эксперт 67 2,080,864,880.00 2,228,292,210.00
65   Кредитный эксперт 68 1,647,563,690.00 2,070,429,260.00
66   Кредитный эксперт 69 1,848,840,420.00 1,987,032,980.00
67    Кредитный эксперт 7 1,674,151,290.00 1,683,313,130.00
68   Кредитный эксперт 70 1,820,637,300.00 1,728,301,340.00
69   Кредитный эксперт 71 1,810,825,570.00 1,724,169,230.00
70   Кредитный эксперт 72 1,593,200,710.00 2,061,379,140.00
71   Кредитный эксперт 73 1,960,913,510.00 1,928,074,920.00
72   Кредитный эксперт 74 1,919,399,510.00 2,008,512,640.00
73   Кредитный эксперт 75 1,729,775,230.00 1,678,163,930.00
74   Кредитный эксперт 76 1,486,726,850.00 1,723,988,380.00
75   Кредитный эксперт 77 1,789,691,220.00 2,282,542,630.00
76   Кредитный эксперт 78 2,196,948,630.00 1,866,958,670.00
77   Кредитный эксперт 79 1,743,027,340.00 1,573,896,750.00
78    Кредитный эксперт 8 1,591,839,670.00 1,714,170,240.00
79   Кредитный эксперт 80 2,001,340,350.00 1,877,345,840.00
80   Кредитный эксперт 81 1,832,158,170.00 2,202,419,370.00
81   Кредитный эксперт 82 1,448,914,060.00 1,861,196,280.00
82   Кредитный эксперт 83 1,597,211,390.00 1,606,731,540.00
83   Кредитный эксперт 84 1,584,675,510.00 1,513,815,270.00
84   Кредитный эксперт 85 1,915,596,970.00 1,902,265,650.00
85   Кредитный эксперт 86 1,597,386,470.00 1,335,667,680.00
86   Кредитный эксперт 87 1,633,241,100.00 1,684,061,110.00
87   Кредитный эксперт 88 1,867,401,900.00 1,738,106,210.00
88   Кредитный эксперт 89 1,491,782,020.00 1,822,268,760.00
89    Кредитный эксперт 9 1,644,539,260.00 1,630,075,810.00
90   Кредитный эксперт 90 1,811,901,030.00 1,572,031,390.00
91   Кредитный эксперт 91 1,905,764,460.00 1,862,458,700.00
92   Кредитный эксперт 92 2,044,257,020.00 1,894,581,180.00
93   Кредитный эксперт 93 1,522,111,440.00 1,634,938,940.00
94   Кредитный эксперт 94 1,474,918,360.00 2,143,328,150.00
95   Кредитный эксперт 95 1,492,417,650.00 1,535,789,850.00
96   Кредитный эксперт 96 1,795,211,130.00 2,245,263,760.00
97   Кредитный эксперт 97 1,490,631,480.00 1,804,551,430.00
98   Кредитный эксперт 98 1,706,938,490.00 1,818,213,560.00
99   Кредитный эксперт 99 1,815,832,070.00 1,624,866,530.00

In [ ]:
pd.concat

Сценарие: При построении модели для скоринга кредитов, группа аналитиков столкнулась с проблемой не качественного ввода данных.
Требуется анализировать средные показатели по следующим полям:
1. Ежемесячный доход семьи	
2. Ежемесячный расход семьи	
3. Дата рождения клиента

Следует учесть фактор региона/филиала и пол